.banner {
  background: #05162b;
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column; /* stack h1 and iconWrapper */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
}

.banner h1 {
  color: white;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  transition:
    transform 0.3s ease,
    letter-spacing 0.3s ease;
}

.banner:hover h1 {
  letter-spacing: normal;
}
.iconWrapper {
  position: absolute;
  bottom: -50px; /* overlap with white section */
  background: transparent;
  z-index: 100;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 150px;
  }
}
