.arch-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #c52810;
  transition: transform 0.3s ease;
}

.arch-card:hover {
  transform: translateY(-5px);
}

.arch-card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.arch-card-content {
  padding: 25px;
}

.arch-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.2s;
  color: #1c1c1c;
  text-decoration: none;
  margin-bottom: 20px;
}
.arch-card-title:hover {
  color: #c52810;
}

.arch-card-description {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 25px;
}

/* .arch-card-link {
  font-weight: 500;
  color: #c52810;
  text-decoration: underline;
}

.arch-card-link:hover {
  text-decoration: underline;
} */
