@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  outline: none !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.event-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-header-text {
  text-align: center;
  flex: 1;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.event-header-sub {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #c52810;
}

.event-title {
  font-size: 2rem;
  margin: 0.2rem 0;
}

.eventtitle-underline {
  width: 60px;
  height: 3px;
  background-color: #c52810;
  margin: 0.5rem auto;
}
@media (max-width: 768px) {
  .intro-subtitle {
    text-align: right;
    display: flex;
  }

  .display-none {
    display: none !important;
  }
}

.b-p {
  font-size: 20px;
  line-height: 1.5;
}
